<p style="color: green"><%= notice %></p>

<h1>Book Collection - Home Page</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show Details", book %>

      <%= link_to "Update a book", edit_book_path(book) %>

    </p>
  <% end %>
</div>

<%= link_to "Add a book", new_book_path %>



